<!doctype html>
<!--[if !IE]>
<html class="no-js non-ie" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7 ]>
<html class="no-js ie7" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 9]><!-->
<html> <!--<![endif]-->
<head>
<title>MFEC Serialization Page</title>
</head>

<body text="white" bgcolor="blue">
<center>
<b>
<pre>
  __  __ ______ ______ _____     _____           _       _ _          _   _             
 |  \/  |  ____|  ____/ ____|   / ____|         (_)     | (_)        | | (_)            
 | \  / | |__  | |__ | |       | (___   ___ _ __ _  __ _| |_ ______ _| |_ _  ___  _ __  
 | |\/| |  __| |  __|| |        \___ \ / _ \ '__| |/ _` | | |_  / _` | __| |/ _ \| '_ \ 
 | |  | | |    | |___| |____    ____) |  __/ |  | | (_| | | |/ / (_| | |_| | (_) | | | |
 |_|  |_|_|    |______\_____|  |_____/ \___|_|  |_|\__,_|_|_/___\__,_|\__|_|\___/|_| |_|
</pre>
<h1>MFEC Serialization Page, If you are not /admin/, Get out of here. and use this web responsibly.</h1>
</b>
</center>
<!-- For Deployer, Please don't forget to change password of admin user. As remember, Our MFEC employee always don't use default credential. -->
<!-- For IT support, Please don't forget to allow port 9051 for this application. If firewall rule block this port, this application doesn't work normally.-->
<!-- Hint! Pickle likes to eat(dumps) cookie-->
</body>
</html>
